.header {
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-gird {
  text-align: center;
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar {
  height: 300px;
  padding-top: 5em;
}

.landing-gird h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

.landing-gird li {
  font-weight: bold;
  color: white;
  margin-left: 20px;
}
.landing-gird strong {
  color: black;
}

.landing-gird hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.contact-grid {
  text-align: center;
  justify-content: center;

  width: 80%;
  color: grey;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: "ubuntu", sans-serif;
}

.contact-grid p {
  font-family: "Anton" sans-serif;
  font-weight: normal;
}

.contact-grid hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 30px;
  padding-right: 3rem;
}

.contact {
  background-color: grey;
  height: 150%;
}

.contact h2 {
  color: white;
}
